<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<div class="container">
    <div class="content">
<h1>{{ track.name }} leaderboard</h1>

{% if laptimes %}
    <table class="leaderboard">
        <tr>
            <th>Lap Time</th>
            <th>Driver</th>
        </tr>
    {% for laptime in laptimes %}
        <tr>
            <td>{{ laptime.formatted_time }}</td>
            <td>{{ laptime.driver.name }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No lap times on the leaderboard for this track.</p>
{% endif %}
    </div>
    <div class="footfloat">
    <img src="{% static 'cesinaro_car.png' %}" />
    </div>
</div>

<div class="ac-logo">
  <a href="https://www.assettocorsa.net/home-ac/"><img src="{% static 'ac_s.png' %}" /></a>
</div>

</body>
</html>
