<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<div class="container">
    <div class="content">

<div class="breadcrumb">
  <a href="{% url 'track-index' %}">Tracks</a> :: <a href="{% url 'track-times' track.id %}">{{ track.name }}</a>
</div>

{% if laptimes %}
    <table class="leaderboard">
        <tr>
            <th style="width: 20%">Lap Time</th>
            <th style="width: 35%">Driver</th>
            <th style="width: 35%">Car</th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
        </tr>
    {% for laptime in laptimes %}
        <tr>
            <td style="width: 20%">{{ laptime.formatted_time }}</td>
            <td style="width: 35%">{{ laptime.driver.name }}</td>
            <td style="width: 35%"><a href="?car={{ laptime.car.id }}">{{ laptime.car.name }}</a></td>
            <td class="t" style="width: 5%">
                {% if laptime.media|length %}
                <a target=”_blank” href="{{ laptime.media }}">
                    <img class="icon" src="{% static 'link.png' %}" />
                </a>
                {% endif %}
            </td>
            <td class="t" style="width: 5%">
                {% if laptime.notes.strip|length %}
                <div class="tooltip">
                    <img class="flag" src="{% static 'blue_flag.png' %}" />
                    <span class="tooltiptext"> {{ laptime.notes }} </span>
                </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No lap times on the leaderboard for this track.</p>
{% endif %}
    </div>
    <div class="footfloat">
    <img src="{% static 'cesinaro_car.png' %}" />
    </div>
</div>

<div class="ac-logo">
  <a href="https://www.assettocorsa.net/home-ac/"><img src="{% static 'ac_s.png' %}" /></a>
</div>

</body>
</html>
